#ML Capstone Project

#Credit Card Fraud Detection

In [ ]:
import pandas as pd
df= pd.read_csv ('https://raw.githubusercontent.com/ArchanaInsights/Datasets/refs/heads/main/credit_card_transactions.csv')

#1) Exploratory Data Analysis (EDA):

In [ ]:
df.head()

,Transaction_ID,Card_Type,Merchant_Category,Transaction_Amount,Transaction_DateTime,Location,Region,Cardholder_Age,Cardholder_Gender,Cardholder_Monthly_Income,Cardholder_Average_Spend,Credit_Limit,Device_Type,Day_of_Week,Is_Fraudulent
0,W963UK57,Mastercard,Utility bill,27214.0,2020-01-01 09:43:17,Patna,East,23.0,Female,94632.0,36369.65,100000.0,Unknown,Wednesday,No
1,V606KV56,American Express,Retail,83956.0,2020-01-03 16:26:13,Surat,West,49.0,Male,148118.0,89179.12,150000.0,Desktop,Friday,No
2,R531NU70,Visa,Transportation,193280.0,2020-01-04 03:40:49,Patna,East,NaN,Male,210921.0,106668.60,200000.0,Desktop,Saturday,No
3,T783GF79,RuPay,Online Shopping,167381.0,2020-01-04 14:56:24,Surat,West,52.0,Female,148070.0,173155.52,200000.0,Desktop,Saturday,Yes
4,K256ZN73,RuPay,Retail,81170.0,2020-01-04 17:26:47,Lucknow,North,37.0,Female,174470.0,52713.09,200000.0,Mobile,Saturday,No

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Transaction_ID             5000 non-null   object
 1   Card_Type                  4983 non-null   object
 2   Merchant_Category          4978 non-null   object
 3   Transaction_Amount         4994 non-null   float64
 4   Transaction_DateTime       5000 non-null   object
 5   Location                   5000 non-null   object
 6   Region                     5000 non-null   object
 7   Cardholder_Age             4865 non-null   float64
 8   Cardholder_Gender          4911 non-null   object
 9   Cardholder_Monthly_Income  4686 non-null   float64
 10  Cardholder_Average_Spend   4792 non-null   float64
 11  Credit_Limit               4991 non-null   float64
 12  Device_Type                4960 non-null   object
 13  Day_of_Week                5000 non-null   object
 14  Is_Fraudulent              5000 non-null   object
dtypes: float64(5), object(10)
memory usage: 586.1+ KB

In [ ]:
df.describe()

,Transaction_Amount,Cardholder_Age,Cardholder_Monthly_Income,Cardholder_Average_Spend,Credit_Limit
count,4994.000000,4865.000000,4686.000000,4792.000000,4991.000000
mean,74667.995995,49.106680,137353.817542,63058.343566,124654.377880
std,43089.045623,18.398524,69471.623020,40056.989704,55668.246494
min,25008.000000,18.000000,35005.000000,10282.410000,50000.000000
25%,39742.500000,33.000000,73485.000000,33336.742500,100000.000000
50%,60922.000000,49.000000,131833.000000,49547.945000,100000.000000
75%,98373.500000,65.000000,189054.250000,83732.352500,150000.000000
max,199923.000000,80.000000,299907.000000,199898.290000,200000.000000

#2) Data Preprocessing - Data Cleaning:

In [ ]:
df.dropna()

,Transaction_ID,Card_Type,Merchant_Category,Transaction_Amount,Transaction_DateTime,Location,Region,Cardholder_Age,Cardholder_Gender,Cardholder_Monthly_Income,Cardholder_Average_Spend,Credit_Limit,Device_Type,Day_of_Week,Is_Fraudulent
0,W963UK57,Mastercard,Utility bill,27214.0,2020-01-01 09:43:17,Patna,East,23.0,Female,94632.0,36369.65,100000.0,Unknown,Wednesday,No
1,V606KV56,American Express,Retail,83956.0,2020-01-03 16:26:13,Surat,West,49.0,Male,148118.0,89179.12,150000.0,Desktop,Friday,No
3,T783GF79,RuPay,Online Shopping,167381.0,2020-01-04 14:56:24,Surat,West,52.0,Female,148070.0,173155.52,200000.0,Desktop,Saturday,Yes
4,K256ZN73,RuPay,Retail,81170.0,2020-01-04 17:26:47,Lucknow,North,37.0,Female,174470.0,52713.09,200000.0,Mobile,Saturday,No
5,I812SG19,RuPay,Entertainment,131918.0,2020-01-04 19:55:12,Mumbai,West,80.0,Male,166671.0,80393.44,150000.0,Point-of-Sale Terminal,Saturday,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4993,F158ZO31,Visa,Retail,30846.0,2023-12-28 19:28:51,Ahmedabad,West,24.0,Male,177661.0,36797.05,150000.0,Contactless Payment Device,Thursday,No
4994,V494BU15,American Express,Entertainment,70272.0,2023-12-28 19:32:21,Patna,East,77.0,Female,128788.0,39275.40,100000.0,Desktop,Thursday,No
4995,N307EM82,RuPay,Education,36508.0,2023-12-29 09:22:23,Delhi,North,33.0,Female,63015.0,34192.55,50000.0,Contactless Payment Device,Friday,Yes
4997,S458OS59,Visa,Healthcare,33788.0,2023-12-30 07:06:38,Pune,West,56.0,Male,60868.0,33876.96,50000.0,Desktop,Saturday,No
4998,E863PD98,RuPay,Entertainment,38679.0,2023-12-30 07:50:02,Chennai,South,60.0,Male,66948.0,32988.22,50000.0,Desktop,Saturday,No

In [ ]:
df.drop_duplicates()

,Transaction_ID,Card_Type,Merchant_Category,Transaction_Amount,Transaction_DateTime,Location,Region,Cardholder_Age,Cardholder_Gender,Cardholder_Monthly_Income,Cardholder_Average_Spend,Credit_Limit,Device_Type,Day_of_Week,Is_Fraudulent
0,W963UK57,Mastercard,Utility bill,27214.0,2020-01-01 09:43:17,Patna,East,23.0,Female,94632.0,36369.65,100000.0,Unknown,Wednesday,No
1,V606KV56,American Express,Retail,83956.0,2020-01-03 16:26:13,Surat,West,49.0,Male,148118.0,89179.12,150000.0,Desktop,Friday,No
2,R531NU70,Visa,Transportation,193280.0,2020-01-04 03:40:49,Patna,East,NaN,Male,210921.0,106668.60,200000.0,Desktop,Saturday,No
3,T783GF79,RuPay,Online Shopping,167381.0,2020-01-04 14:56:24,Surat,West,52.0,Female,148070.0,173155.52,200000.0,Desktop,Saturday,Yes
4,K256ZN73,RuPay,Retail,81170.0,2020-01-04 17:26:47,Lucknow,North,37.0,Female,174470.0,52713.09,200000.0,Mobile,Saturday,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,N307EM82,RuPay,Education,36508.0,2023-12-29 09:22:23,Delhi,North,33.0,Female,63015.0,34192.55,50000.0,Contactless Payment Device,Friday,Yes
4996,J752EG45,American Express,Online Shopping,42920.0,2023-12-29 19:59:13,Chennai,South,NaN,Female,NaN,19680.39,100000.0,Contactless Payment Device,Friday,No
4997,S458OS59,Visa,Healthcare,33788.0,2023-12-30 07:06:38,Pune,West,56.0,Male,60868.0,33876.96,50000.0,Desktop,Saturday,No
4998,E863PD98,RuPay,Entertainment,38679.0,2023-12-30 07:50:02,Chennai,South,60.0,Male,66948.0,32988.22,50000.0,Desktop,Saturday,No
4999,D501WH15,Visa,Healthcare,34672.0,2023-12-30 11:41:36,Jaipur,North,60.0,NaN,58261.0,39412.26,50000.0,Mobile,Saturday,No

#3) Feature Engineering:

In [ ]:
categorical_features = ['Card_Type', 'Merchant_Category', 'Location', 'Region', 'Device_Type', 'Day_of_Week']

In [ ]:
pd.get_dummies

<function pandas.core.reshape.encoding.get_dummies(data, prefix=None, prefix_sep: 'str | Iterable[str] | dict[str, str]' = '_', dummy_na: 'bool' = False, columns=None, sparse: 'bool' = False, drop_first: 'bool' = False, dtype: 'NpDtype | None' = None) -> 'DataFrame'>

#4) Feature Selection:

In [ ]:
X=df.drop(['Is_Fraudulent'], axis=1)
print (X)

     Transaction_ID  Transaction_Amount Transaction_DateTime  Cardholder_Age  \
0          W963UK57             27214.0  2020-01-01 09:43:17            23.0
1          V606KV56             83956.0  2020-01-03 16:26:13            49.0
2          R531NU70            193280.0  2020-01-04 03:40:49             NaN
3          T783GF79            167381.0  2020-01-04 14:56:24            52.0
4          K256ZN73             81170.0  2020-01-04 17:26:47            37.0
...             ...                 ...                  ...             ...
4995       N307EM82             36508.0  2023-12-29 09:22:23            33.0
4996       J752EG45             42920.0  2023-12-29 19:59:13             NaN
4997       S458OS59             33788.0  2023-12-30 07:06:38            56.0
4998       E863PD98             38679.0  2023-12-30 07:50:02            60.0
4999       D501WH15             34672.0  2023-12-30 11:41:36            60.0

     Cardholder_Gender  Cardholder_Monthly_Income  Cardholder_Average_Spend  \
0               Female                    94632.0                  36369.65
1                 Male                   148118.0                  89179.12
2                 Male                   210921.0                 106668.60
3               Female                   148070.0                 173155.52
4               Female                   174470.0                  52713.09
...                ...                        ...                       ...
4995            Female                    63015.0                  34192.55
4996            Female                        NaN                  19680.39
4997              Male                    60868.0                  33876.96
4998              Male                    66948.0                  32988.22
4999               NaN                    58261.0                  39412.26

      Credit_Limit  Card_Type_American Express  Card_Type_Mastercard  ...  \
0         100000.0                       False                  True  ...
1         150000.0                        True                 False  ...
2         200000.0                       False                 False  ...
3         200000.0                       False                 False  ...
4         200000.0                       False                 False  ...
...            ...                         ...                   ...  ...
4995       50000.0                       False                 False  ...
4996      100000.0                        True                 False  ...
4997       50000.0                       False                 False  ...
4998       50000.0                       False                 False  ...
4999       50000.0                       False                 False  ...

      Device_Type_Mobile  Device_Type_Point-of-Sale Terminal  \
0                  False                               False
1                  False                               False
2                  False                               False
3                  False                               False
4                   True                               False
...                  ...                                 ...
4995               False                               False
4996               False                               False
4997               False                               False
4998               False                               False
4999                True                               False

      Device_Type_Unknown  Day_of_Week_Friday  Day_of_Week_Monday  \
0                    True               False               False
1                   False                True               False
2                   False               False               False
3                   False               False               False
4                   False               False               False
...                   ...                 ...                 ...
4995                False                True               False
4996                False                True               False
4997                False               False               False
4998                False               False               False
4999                False               False               False

      Day_of_Week_Saturday  Day_of_Week_Sunday  Day_of_Week_Thursday  \
0                    False               False                 False
1                    False               False                 False
2                     True               False                 False
3                     True               False                 False
4                     True               False                 False
...                    ...                 ...                   ...
4995                 False               False                 False
4996                 False               False                 False
4997                  True               False                 False
4998                  True               False                 False
4999                  True               False                 False

      Day_of_Week_Tuesday  Day_of_Week_Wednesday
0                   False                   True
1                   False                  False
2                   False                  False
3                   False                  False
4                   False                  False
...                   ...                    ...
4995                False                  False
4996                False                  False
4997                False                  False
4998                False                  False
4999                False                  False

[5000 rows x 49 columns]

In [ ]:
y=df['Is_Fraudulent']
print (y)

0        No
1        No
2        No
3       Yes
4        No
       ...
4995    Yes
4996     No
4997     No
4998     No
4999     No
Name: Is_Fraudulent, Length: 5000, dtype: object

#5) Split data into training and testing:

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#6) Feature Scaling:

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#7) Build the Machine Learning Model:

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
y_pred = model.predict(X_test)
print('Accuracy:', accuracy_score(y_test, y_pred))
print('Classification Report:')
print(classification_report(y_test, y_pred))
print('Confusion Matrix:')
print(confusion_matrix(y_test, y_pred))